html {
  height: 100%;
  width: 100%;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#canvas {
  margin-top: 5px;
  border: 2px solid #000000;
}

input {
  margin-top: 4px;
  width: 85px;
  border-radius: 12px;
  outline: none;
  border: none;
  background-color: #ededed;
  padding: 5px 5px 5px 5px;
}